<h1>Reviews for <%= link_to @movie.title, @movie %></h1>
<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
        <%= render "shared/stars", percent: review.stars_as_percent %>
      <p>
        <%= link_to profile_image(review.user, 35), review.user %>
        <%= link_to review.user.name, review.user %>
        <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
      </p>
      <p>
        <%= review.comment %>
      </p>
      <%= link_to "Delete", movie_reviews_path(@movie), class: "button", data: { turbo_method: :delete, turbo_confirm: "Really?" } %>
    </li>
    <hr>
  <% end %>
</ul>
